

@model PizzaStore.UI.Models.OrderDisplay


@using (Html.BeginForm("Login", "Users", FormMethod.Post))
{

    <p>First Name: </p> @Html.TextBoxFor(model => model.FirstName, new {required = "required" })
    <p>Last Name: </p>@Html.TextBoxFor(model => model.LastName, new { required = "required" })
    <br />
    <input type ="submit" value="Login" />

}