

@model PizzaStore.UI.Models.OrderDisplay


@using (Html.BeginForm("Login", "Users", FormMethod.Post))
{

    <p>First Name: </p> @Html.TextBoxFor(model => model.FirstName)
    <p>Last Name: </p>@Html.TextBoxFor(model => model.LastName)
    <br />
    <input type ="submit" value="Login" />

}